<!doctype html>

<form action="/post/new" method="POST">
	<input type="text" name="username"></input><br>
	<input type="text" name="event_source"></input><br>
	<input type="text" name="name"></input><br>
	<input type="text" name="accept_languaje"></input><br>
	<input type="text" name="time"></input><br>
	<input type="text" name="agent"></input><br>
	<input type="text" name="page"></input><br>
	<input type="text" name="host"></input><br>
	<input type="text" name="session"></input><br>
	<input type="text" name="referer"></input><br>
	<br>
	<h3>Contexto</h3><br>
	<input type="text" name="user_id"></input><br>
	<input type="text" name="org_id"></input><br>
	<input type="text" name="course_id"></input><br>
	<input type="text" name="path"></input><br>
	<br>
	<input type="text" name="ip"></input><br>
	<br>
	<h3>Evento</h3><br>
	<input type="text" name="course_id"></input><br>
	<input type="text" name="user_id"></input><br>
	<input type="text" name="mode"></input><br>
	<br>
	<input type="text" name="event_type"></input><br>
	<!--<input type="text" name="admin" list="lista"></input>-->
	<!--<select id="lista" name="admin">
		<option value="si">SI</option>
		<option value="no">NO</option>
	</select>-->
	<input type="submit"></input>
</form>

